<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Páginas con Django</title>
    <style>
        .progress-bar {
            background-color: #e0e0e0;
            border-radius: 5px;
            margin: 10px 0;
            padding: 5px;
            width: 100%;
        }
        .progress {
            background-color: #4caf50;
            height: 24px;
            border-radius: 5px;
            text-align: center;
            color: white;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <header>
        <nav> 
            <ul>
                <li>
                    <a href="{% url 'Main' %}">Casa</a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'Logout' %}">Cerrar sesión</a>
                    </li>
                    <li>
                       <a href="{% url 'Quest' Key=1 %}" >Quest</a> 
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'Register' %}">Registrarse</a>
                    </li>
                    <li>
                        <a href="{% url 'Login' %}">Iniciar sesión</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>