{% extends 'Nav/Navegacion.html' %}


    {% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nen Quest</title>
    </head>
    <body>
        <h1>Página {{ Key }}</h1>
    
        {% if Key == 1 %}
            <h2>¿Cuál es el animal más rápido del mundo?</h2>
        
            <div>
                <img src="https://media.giphy.com/media/3o7aD9qBYfJ0ibXXb6/giphy.gif" 
                     alt="Imagen relacionada con la pregunta" width="300">
            </div>
        
            <form action="{% url 'Quest' Key=Key|add:'1' %}" method="post"  >
                {% csrf_token %}
                <p>
                    <input type="radio" id="option1" name="question" value="1"  required>
                    <label for="option1">Tigre</label>
                </p>
                <p>
                    <input type="radio" id="option2" name="question" value="2">
                    <label for="option2">Leopardo</label>
                </p>
                <p>
                    <input type="radio" id="option3" name="question" value="3">
                    <label for="option3">Halcón peregrino</label>
                </p>
                <p>
                    <input type="radio" id="option4" name="question" value="4">
                    <label for="option4">Guepardo</label>
                </p>
                    <button type="submit">Enviar</button>
            </form>

        {% elif Key == 2 %}
        <h2>¿Cuál es el animal más rápido del mundo?</h2>
        
        <div>
            <img src="https://media.giphy.com/media/3o7aD9qBYfJ0ibXXb6/giphy.gif" 
                 alt="Imagen relacionada con la pregunta" width="300">
        </div>
    
        <form action="{% url 'Quest' Key=Key|add:'1' %}" method="post">
            {% csrf_token %}
            <p>
                <input type="radio" id="option1" name="question" value="1"  required>
                <label for="option1">Tigre</label>
            </p>
            <p>
                <input type="radio" id="option2" name="question" value="2">
                <label for="option2">Leopardo</label>
            </p>
            <p>
                <input type="radio" id="option3" name="question" value="3">
                <label for="option3">Halcón peregrino</label>
            </p>
            <p>
                <input type="radio" id="option4" name="question" value="4">
                <label for="option4">Guepardo</label>
            </p>
                <button type="submit">Enviar</button>
        </form>
        {% elif Key == 3 %}
        <h2>¿Cuál es el animal más rápido del mundo?</h2>
        
        <div>
            <img src="https://media.giphy.com/media/3o7aD9qBYfJ0ibXXb6/giphy.gif" 
                 alt="Imagen relacionada con la pregunta" width="300">
        </div>
    
        <form action="{% url 'Quest' Key=Key|add:'1' %}" method="post">
            {% csrf_token %}
            <p>
                <input type="radio" id="option1" name="question" value="1"  required>
                <label for="option1">Tigre</label>
            </p>
            <p>
                <input type="radio" id="option2" name="question" value="2">
                <label for="option2">Leopardo</label>
            </p>
            <p>
                <input type="radio" id="option3" name="question" value="3">
                <label for="option3">Halcón peregrino</label>
            </p>
            <p>
                <input type="radio" id="option4" name="question" value="4">
                <label for="option4">Guepardo</label>
            </p>
                <button type="submit">Enviar</button>
        </form>
        {% elif Key == 4 %}
        <h2>¿Cuál es el animal más rápido del mundo?</h2>
        
        <div>
            <img src="https://media.giphy.com/media/3o7aD9qBYfJ0ibXXb6/giphy.gif" 
                 alt="Imagen relacionada con la pregunta" width="300">
        </div>
    
        <form action="{% url 'Quest' Key=Key|add:'1' %}" method="post">
            {% csrf_token %}
            <p>
                <input type="radio" id="option1" name="question" value="1"  required>
                <label for="option1">Tigre</label>
            </p>
            <p>
                <input type="radio" id="option2" name="question" value="2">
                <label for="option2">Leopardo</label>
            </p>
            <p>
                <input type="radio" id="option3" name="question" value="3">
                <label for="option3">Halcón peregrino</label>
            </p>
            <p>
                <input type="radio" id="option4" name="question" value="4">
                <label for="option4">Guepardo</label>
            </p>
                <button type="submit">Enviar</button>
        </form>
        {% elif Key == 5 %}
        <h2>¿Cuál es el animal más rápido del mundo?</h2>
        
        <div>
            <img src="https://media.giphy.com/media/3o7aD9qBYfJ0ibXXb6/giphy.gif" 
                 alt="Imagen relacionada con la pregunta" width="300">
        </div>
    
        <form action="{% url 'Quest' Key=Key|add:'1' %}" method="post">
            {% csrf_token %}
            <p>
                <input type="radio" id="option1" name="question" value="1"  required>
                <label for="option1">Tigre</label>
            </p>
            <p>
                <input type="radio" id="option2" name="question" value="2">
                <label for="option2">Leopardo</label>
            </p>
            <p>
                <input type="radio" id="option3" name="question" value="3">
                <label for="option3">Halcón peregrino</label>
            </p>
            <p>
                <input type="radio" id="option4" name="question" value="4">
                <label for="option4">Guepardo</label>
            </p>
                <button type="submit">Enviar</button>
        </form>
        {% elif Key == 6 %}
        <h2>¿Cuál es el animal más rápido del mundo?</h2>
        
        <div>
            <img src="https://media.giphy.com/media/3o7aD9qBYfJ0ibXXb6/giphy.gif" 
                 alt="Imagen relacionada con la pregunta" width="300">
        </div>
    
        <form action="{% url 'Quest' Key=Key|add:'1' %}" method="post">
            {% csrf_token %}
            <p>
                <input type="radio" id="option1" name="question" value="1"  required>
                <label for="option1">Tigre</label>
            </p>
            <p>
                <input type="radio" id="option2" name="question" value="2">
                <label for="option2">Leopardo</label>
            </p>
            <p>
                <input type="radio" id="option3" name="question" value="3">
                <label for="option3">Halcón peregrino</label>
            </p>
            <p>
                <input type="radio" id="option4" name="question" value="4">
                <label for="option4">Guepardo</label>
            </p>
                <button type="submit">Enviar</button>
        </form>
        {% elif Key == 7 %}
        <h2>¿Cuál es el animal más rápido del mundo?</h2>
        
        <div>
            <img src="https://media.giphy.com/media/3o7aD9qBYfJ0ibXXb6/giphy.gif" 
                 alt="Imagen relacionada con la pregunta" width="300">
        </div>
    
        <form action="{% url 'Quest' Key=Key|add:'1' %}" method="post">
            {% csrf_token %}
            <p>
                <input type="radio" id="option1" name="question" value="1"  required>
                <label for="option1">Tigre</label>
            </p>
            <p>
                <input type="radio" id="option2" name="question" value="2">
                <label for="option2">Leopardo</label>
            </p>
            <p>
                <input type="radio" id="option3" name="question" value="3">
                <label for="option3">Halcón peregrino</label>
            </p>
            <p>
                <input type="radio" id="option4" name="question" value="4">
                <label for="option4">Guepardo</label>
            </p>
                <button type="submit">Enviar</button>
        </form>
        {% elif Key == 8 %}
        <h2>¿Cuál es el animal más rápido del mundo?</h2>
        
        <div>
            <img src="https://media.giphy.com/media/3o7aD9qBYfJ0ibXXb6/giphy.gif" 
                 alt="Imagen relacionada con la pregunta" width="300">
        </div>
    
        <form action="{% url 'Quest' Key=Key|add:'1' %}" method="post">
            {% csrf_token %}
            <p>
                <input type="radio" id="option1" name="question" value="1"  required>
                <label for="option1">Tigre</label>
            </p>
            <p>
                <input type="radio" id="option2" name="question" value="2">
                <label for="option2">Leopardo</label>
            </p>
            <p>
                <input type="radio" id="option3" name="question" value="3">
                <label for="option3">Halcón peregrino</label>
            </p>
            <p>
                <input type="radio" id="option4" name="question" value="4">
                <label for="option4">Guepardo</label>
            </p>
                <button type="submit">Enviar</button>
        </form>
        {% elif Key == 9 %}
        <h2>¿Cuál es el animal más rápido del mundo?</h2>
        
        <div>
            <img src="https://media.giphy.com/media/3o7aD9qBYfJ0ibXXb6/giphy.gif" 
                 alt="Imagen relacionada con la pregunta" width="300">
        </div>
    
        <form action="{% url 'Quest' Key=Key|add:'1' %}" method="post">
            {% csrf_token %}
            <p>
                <input type="radio" id="option1" name="question" value="1"  required>
                <label for="option1">Tigre</label>
            </p>
            <p>
                <input type="radio" id="option2" name="question" value="2">
                <label for="option2">Leopardo</label>
            </p>
            <p>
                <input type="radio" id="option3" name="question" value="3">
                <label for="option3">Halcón peregrino</label>
            </p>
            <p>
                <input type="radio" id="option4" name="question" value="4">
                <label for="option4">Guepardo</label>
            </p>
                <button type="submit">Enviar</button>
        </form>
        {% elif Key == 10 %}
        <h2>¿Cuál es el animal más rápido del mundo?</h2>
        
        <div>
            <img src="https://media.giphy.com/media/3o7aD9qBYfJ0ibXXb6/giphy.gif" 
                 alt="Imagen relacionada con la pregunta" width="300">
        </div>
    
        <form action="{% url 'Quest' Key=Key|add:'1' %}" method="post">
            {% csrf_token %}
            <p>
                <input type="radio" id="option1" name="question" value="1"  required>
                <label for="option1">Tigre</label>
            </p>
            <p>
                <input type="radio" id="option2" name="question" value="2">
                <label for="option2">Leopardo</label>
            </p>
            <p>
                <input type="radio" id="option3" name="question" value="3">
                <label for="option3">Halcón peregrino</label>
            </p>
            <p>
                <input type="radio" id="option4" name="question" value="4">
                <label for="option4">Guepardo</label>
            </p>
                <button type="submit">Enviar</button>
        </form>
        {% endif %}
    
        <footer>
            {% if Key > 1 %}
            <a href="{% url 'Quest' Key=Key|add:"-1" %}">
                <button>Atras</button>
            </a>
            {% endif %}
    
            {% if Key < 10 %}
            
            <a href="{% url 'Quest' Key=Key|add:"+1" %}">
                <button>Siguiente</button>
            </a>
                
            {% endif %}
            {{ error }}
        </footer>
            
        
    </body>
    </html>
    
    {% endblock %}